<p-messages [value]="msgs">
</p-messages>
 <p-growl [value]="growls">
</p-growl>
<div class="row" style="margin-bottom:90px">
</div>
<div class="row ">
    <div class="col-md-9" style="height:100vh;">

        <!--<ng-dygraphs class="container" id="graph" *ngIf="chartObject"  
        [data]="chartObject.data"
        [options]="options"
        chartHeight="100%">
        
        </ng-dygraphs>-->
        <div style="height:500px">
            <div #dygraph style="height:100%"></div>
        </div>





    </div>

    <div class="col-md-3">
       
        <div id="wrapper" style="display:table">
            <div id="child-wrapper">
                <label>All Parameters:
                    <div id="all-parameters" class='container' [dragula]='"first-bag"' [dragulaModel]='parameters' style="background:cornsilk;height:175px;width:200px;overflow-y:auto">

                        <div class="grabbable" *ngFor="let item of parameters" [innerHtml]="item.name" style="background:skyblue"></div>

                    </div>
               </label>
            </div>

            <div id="child-wrapper">
                <label>Chart Parameters:
                    <div id="chart-parameters" class='container' [dragula]='"first-bag"' [dragulaModel]='chartParameters' style="background:cornsilk;height:175px;width:200px;overflow-y:auto">

                        <div class="grabbable" *ngFor="let item of chartParameters" [innerHtml]="item.name" style="background:lightskyblue"></div>
                        
                    </div>
                    
                </label>

            </div>
        </div>
        <div>
            <form #chartForm>
                <div>
                    <p-radioButton name="groupname" value="scatter" label="Scatter" [(ngModel)]="chartType" (onClick)="handleRadioButtonChanged()"></p-radioButton>
                    <p-radioButton style="margin-left:20px" name="groupname" value="line" label="Line" [(ngModel)]="chartType" (onClick)="handleRadioButtonChanged()"></p-radioButton>

                   
                </div>
                <div>
                    <button  style="width:200px;margin-top:20px" type="button" class="btn btn-primary" (click)="chart()">Chart</button>
                </div>
                
            </form>
        </div>
    </div>
</div>