<p-growl [value]="msgs"></p-growl>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <h1>Datasets</h1>
  </div>
  <div class="col-md-1"></div>

</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p>
      <p-dataTable rowGroupMode="rowspan" selectionMode="single" [(selection)]="selectedDataset" [contextMenu]="cm" [value]="datasets" [rows]="20" [paginator]="true"
        [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">

        <p-column field="name" [filter]="true" [sortable]="true" header="Name"></p-column>
        <p-column field="project" [filter]="true" [sortable]="true" header="Project"></p-column>
        <p-column field="date" [filter]="true" [sortable]="true" header="Date"></p-column>
        <p-column field="itemCountFromDB" [sortable]="true" header="Item Count"></p-column>

      </p-dataTable>

    </p>
  </div>
  <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3"></div>
</div>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{selectedDataset?.name}} : Tags</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table style="overflow:auto">

      <template ngFor let-item [ngForOf]="selectedDataset.metadata" let-i="index">
        <tr>

          <td>{{item.name}} :</td>
          <td style="margin-left:10px">{{item.value}}</td>
        </tr>
      </template>

    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>