<p-growl [value]="msgs"></p-growl>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">

    
    


  </div>

  <div class="col-md-2">
    <div>
      <div>
        Username: 
      </div>
      <input style="width:100%" id="username" [(ngModel)]="username" placeholder="Username">
      
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3"></div>


</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    
    
  </div>
  
  <div class="col-md-2">
    <div>
      <div>
        Password: 
      </div>
      <input style="width:100%" id="password" type="password" [(ngModel)]="password" placeholder="Password">
      
    </div>
    
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3"></div>

  

</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-2">
    <button style="width:100%" type="button" class="btn btn-primary" (click)="login()">Login</button>
  </div>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-3"></div>
</div>