/* You can add global styles to this file, and also import other style files */


.row {
    margin: 1em;
    height:100%;
}

#dygraph {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 40px;
    bottom: 10px;
}



